In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import re

## Incorprate AOA

In [2]:
aoa_df = pd.read_csv('AOA_51715_words.csv', header = 0, index_col = 0)
aoa_df.head()

,Alternative.spelling,Freq_pm,Dom_PoS_SUBTLEX,Nletters,Nphon,Nsyll,Lemma_highest_PoS,AoA_Kup,Perc_known,AoA_Kup_lem,Perc_known_lem,AoA_Bird_lem,AoA_Bristol_lem,AoA_Cort_lem,AoA_Schock
Word,,,,,,,,,,,,,,,
a,a,20415.27,Article,1,1,1,a,2.89,1.00,2.89,1.00,3.16,NaN,NaN,NaN
aardvark,aardvark,0.41,Noun,8,7,2,aardvark,9.89,1.00,9.89,1.00,NaN,NaN,NaN,NaN
abacus,abacus,0.24,Noun,6,6,3,abacus,8.69,0.65,8.69,0.65,NaN,NaN,NaN,NaN
abacuses,abacuses,0.02,Noun,8,9,4,abacus,NaN,NaN,8.69,0.65,NaN,NaN,NaN,NaN
abalone,abalone,0.51,Verb,7,7,4,abalone,12.23,0.72,12.23,0.72,NaN,NaN,NaN,NaN

In [3]:
aoa_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51715 entries, a to zygotes
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Alternative.spelling  51714 non-null  object
 1   Freq_pm               51046 non-null  float64
 2   Dom_PoS_SUBTLEX       50963 non-null  object
 3   Nletters              51715 non-null  int64
 4   Nphon                 51715 non-null  int64
 5   Nsyll                 51715 non-null  int64
 6   Lemma_highest_PoS     51714 non-null  object
 7   AoA_Kup               31105 non-null  float64
 8   Perc_known            31124 non-null  float64
 9   AoA_Kup_lem           51695 non-null  float64
 10  Perc_known_lem        51715 non-null  float64
 11  AoA_Bird_lem          5421 non-null   float64
 12  AoA_Bristol_lem       8061 non-null   float64
 13  AoA_Cort_lem          8045 non-null   float64
 14  AoA_Schock            7056 non-null   float64
dtypes: float64(9), int64(3), object(3)
memory usage: 6.3+ MB

In [4]:
train_data = pd.read_csv('WikiLarge_Train.csv', header = 0)
train_data.head()

                                       original_text  label
0  There is manuscript evidence that Austen conti...      1
1  In a remarkable comparative analysis , Mandaea...      1
2  Before Persephone was released to Hermes , who...      1
3  Cogeneration plants are commonly found in dist...      1
4  Geneva -LRB- , ; , ; , ; ; -RRB- is the second...      1

In [6]:
def text_processing(x):
    x = re.sub(r'[^\w\s]','', x)
    x = x.split(' ')
    x = [word.strip().lower() for word in x]
    return x

In [7]:
train_data.loc[:, 'processed_text'] = train_data['original_text'].apply(text_processing)

In [9]:
train_data.head()

,original_text,label,processed_text
0,There is manuscript evidence that Austen conti...,1,"[there, is, manuscript, evidence, that, austen..."
1,"In a remarkable comparative analysis , Mandaea...",1,"[in, a, remarkable, comparative, analysis, , m..."
2,"Before Persephone was released to Hermes , who...",1,"[before, persephone, was, released, to, hermes..."
3,Cogeneration plants are commonly found in dist...,1,"[cogeneration, plants, are, commonly, found, i..."
4,"Geneva -LRB- , ; , ; , ; ; -RRB- is the second...",1,"[geneva, lrb, , , , , , , , rrb, is, the, seco..."

In [10]:
def calculate_average_aoa(x):
    aoa_value_list = []
    
    for word in x:
        if word:
            try:
                aoa_value = aoa_df.loc[word, 'AoA_Kup_lem']
                if aoa_value:
                    aoa_value_list.append(aoa_value)
            except:
                pass
    
    if aoa_value_list:
        mean_aoa = np.mean(aoa_value_list)
    else:
        mean_aoa = np.nan
        
    return mean_aoa

In [11]:
train_data.loc[:, 'average_AoA_Kup_lem'] = train_data['processed_text'].apply(calculate_average_aoa)

In [12]:
train_data.head()

,original_text,label,processed_text,average_AoA_Kup_lem
0,There is manuscript evidence that Austen conti...,1,"[there, is, manuscript, evidence, that, austen...",5.923793
1,"In a remarkable comparative analysis , Mandaea...",1,"[in, a, remarkable, comparative, analysis, , m...",7.499286
2,"Before Persephone was released to Hermes , who...",1,"[before, persephone, was, released, to, hermes...",5.322162
3,Cogeneration plants are commonly found in dist...,1,"[cogeneration, plants, are, commonly, found, i...",6.738889
4,"Geneva -LRB- , ; , ; , ; ; -RRB- is the second...",1,"[geneva, lrb, , , , , , , , rrb, is, the, seco...",5.396667

In [13]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416768 entries, 0 to 416767
Data columns (total 4 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   original_text        416768 non-null  object
 1   label                416768 non-null  int64
 2   processed_text       416768 non-null  object
 3   average_AoA_Kup_lem  407959 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 12.7+ MB

## Incorprate percentage of basic words

In [17]:
with open('dale_chall.txt') as file_obj:
    basic_word_list = file_obj.readlines()
    cleaned_basic_word_list = [word.lower().strip() for word in basic_word_list]

In [18]:
len(cleaned_basic_word_list)

2950

In [19]:
def calculate_percentage_of_basic_words(x):
    count = 0
    for word in x:
        if word and word in cleaned_basic_word_list:
            count += 1
    
    percentage = count / len(x)
    
    return percentage

In [20]:
train_data.loc[:, 'percentage_of_basic_words'] = train_data['processed_text'].apply(calculate_percentage_of_basic_words)

In [21]:
train_data.head()

,original_text,label,processed_text,average_AoA_Kup_lem,percentage_of_basic_words
0,There is manuscript evidence that Austen conti...,1,"[there, is, manuscript, evidence, that, austen...",5.923793,0.488372
1,"In a remarkable comparative analysis , Mandaea...",1,"[in, a, remarkable, comparative, analysis, , m...",7.499286,0.260870
2,"Before Persephone was released to Hermes , who...",1,"[before, persephone, was, released, to, hermes...",5.322162,0.565217
3,Cogeneration plants are commonly found in dist...,1,"[cogeneration, plants, are, commonly, found, i...",6.738889,0.256410
4,"Geneva -LRB- , ; , ; , ; ; -RRB- is the second...",1,"[geneva, lrb, , , , , , , , rrb, is, the, seco...",5.396667,0.388889

## Incorprate Concreteness

In [25]:
concreteness_df = pd.read_csv('Concreteness_ratings_Brysbaert_et_al_BRM.txt', sep = '\t', header = 0, index_col = 0)
concreteness_df

,Bigram,Conc.M,Conc.SD,Unknown,Total,Percent_known,SUBTLEX,Dom_Pos
Word,,,,,,,,
roadsweeper,0,4.85,0.37,1,27,0.96,0,0
traindriver,0,4.54,0.71,3,29,0.90,0,0
tush,0,4.45,1.01,3,25,0.88,66,0
hairdress,0,3.93,1.28,0,29,1.00,1,0
pharmaceutics,0,3.77,1.41,4,26,0.85,0,0
...,...,...,...,...,...,...,...,...
unenvied,0,1.21,0.62,1,30,0.97,0,NaN
agnostically,0,1.20,0.50,2,27,0.93,0,NaN
conceptualistic,0,1.18,0.50,4,26,0.85,0,NaN
conventionalism,0,1.18,0.48,1,29,0.97,0,NaN
essentialness,0,1.04,0.20,2,26,0.92,0,NaN

In [24]:
concreteness_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39954 entries, 0 to 39953
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Word           39953 non-null  object
 1   Bigram         39954 non-null  int64
 2   Conc.M         39954 non-null  float64
 3   Conc.SD        39954 non-null  float64
 4   Unknown        39954 non-null  int64
 5   Total          39954 non-null  int64
 6   Percent_known  39954 non-null  float64
 7   SUBTLEX        39954 non-null  int64
 8   Dom_Pos        28707 non-null  object
dtypes: float64(3), int64(4), object(2)
memory usage: 2.7+ MB

In [33]:
def calculate_average_concrete_mean(x):
    aoa_value_list = []
    
    for word in x:
        if word:
            try:
                aoa_value = concreteness_df.loc[word, 'Conc.M']
                if aoa_value:
                    aoa_value_list.append(aoa_value)
            except:
                pass
    
    if aoa_value_list:
        mean_aoa = np.mean(aoa_value_list)
    else:
        mean_aoa = np.nan
        
    return mean_aoa

In [30]:
train_data.loc[:, 'average_concreteness'] = train_data['processed_text'].apply(calculate_average_concrete_mean)

In [31]:
train_data.head()

,original_text,label,processed_text,average_AoA_Kup_lem,percentage_of_basic_words,average_concreteness
0,There is manuscript evidence that Austen conti...,1,"[there, is, manuscript, evidence, that, austen...",5.923793,0.488372,2.354815
1,"In a remarkable comparative analysis , Mandaea...",1,"[in, a, remarkable, comparative, analysis, , m...",7.499286,0.260870,2.117500
2,"Before Persephone was released to Hermes , who...",1,"[before, persephone, was, released, to, hermes...",5.322162,0.565217,2.357647
3,Cogeneration plants are commonly found in dist...,1,"[cogeneration, plants, are, commonly, found, i...",6.738889,0.256410,2.997143
4,"Geneva -LRB- , ; , ; , ; ; -RRB- is the second...",1,"[geneva, lrb, , , , , , , , rrb, is, the, seco...",5.396667,0.388889,2.364667

In [32]:
def calculate_percentage_known_mean(x):
    aoa_value_list = []
    
    for word in x:
        if word:
            try:
                aoa_value = concreteness_df.loc[word, 'Percent_known']
                if aoa_value:
                    aoa_value_list.append(aoa_value)
            except:
                pass
    
    if aoa_value_list:
        mean_aoa = np.mean(aoa_value_list)
    else:
        mean_aoa = np.nan
        
    return mean_aoa

In [34]:
train_data.loc[:, 'average_percentage_known'] = train_data['processed_text'].apply(calculate_percentage_known_mean)

In [35]:
train_data.head()

,original_text,label,processed_text,average_AoA_Kup_lem,percentage_of_basic_words,average_concreteness,average_percentage_known
0,There is manuscript evidence that Austen conti...,1,"[there, is, manuscript, evidence, that, austen...",5.923793,0.488372,2.354815,0.995926
1,"In a remarkable comparative analysis , Mandaea...",1,"[in, a, remarkable, comparative, analysis, , m...",7.499286,0.260870,2.117500,0.994167
2,"Before Persephone was released to Hermes , who...",1,"[before, persephone, was, released, to, hermes...",5.322162,0.565217,2.357647,0.992647
3,Cogeneration plants are commonly found in dist...,1,"[cogeneration, plants, are, commonly, found, i...",6.738889,0.256410,2.997143,0.993333
4,"Geneva -LRB- , ; , ; , ; ; -RRB- is the second...",1,"[geneva, lrb, , , , , , , , rrb, is, the, seco...",5.396667,0.388889,2.364667,0.989333

In [37]:
train_data.to_csv('train_data_with_feature.csv', index = False)

In [36]:
def generate_features(train_data):
    train_data.loc[:, 'processed_text'] = train_data['original_text'].apply(text_processing)
    train_data.loc[:, 'average_AoA_Kup_lem'] = train_data['processed_text'].apply(calculate_average_aoa)
    train_data.loc[:, 'percentage_of_basic_words'] = train_data['processed_text'].apply(calculate_percentage_of_basic_words)
    train_data.loc[:, 'average_concreteness'] = train_data['processed_text'].apply(calculate_average_concrete_mean)
    train_data.loc[:, 'average_percentage_known'] = train_data['processed_text'].apply(calculate_percentage_known_mean)